@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  /* --background-end-rgb: 255, 255, 255; */
  --dark-blue: #020637;
  --pink: #c106ce;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* background-image: url("/images/bg3.png"); */
  /* background-image: linear-gradient(to right bottom, #01052ded, #71028b); */
  background-color: #16171D;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #eaeaea;
  background-size: cover;
}

::-webkit-scrollbar {
  display: none;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blurred_background {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background: #fff;
}

.box {
  /* color: #7f64a8; */
  box-shadow: 1em 0em 15em 0px rgba(0, 0, 0, 0.6);
}
