@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  /* --background-end-rgb: 255, 255, 255; */
  --dark-blue: #020637;
  --pink: #c106ce;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url("/images/light.png");
  background-repeat: no-repeat;
  background-color: #16171d;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #eaeaea;
  background-size: cover;
}

::-webkit-scrollbar {
  display: none;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blurred_background {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background: #fff;
}

.btn-shadow {
  box-shadow: 0 4px 1em rgba(0, 0, 0, 0.6);
}

@layer components {
  .primary-btn-border {
    @apply rounded-md flex bg-gradient-to-r from-[#272932] to-[#42444F] p-[1px] hover:bg-gradient-to-r hover:from-[#42444F] hover:to-[#272932] transition  ease-in duration-300 btn-shadow;
  }
  .primary-btn-bg {
    @apply rounded-md p-4 bg-gradient-to-r from-[#42444F] to-[#16171D] hover:bg-gradient-to-r hover:from-[#16171D] hover:to-[#42444F] ease-in transition  duration-300;
  }
}
