@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --dark-blue: #020637;
  --pink: #c106ce;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url("/images/light.png");
  background-repeat: no-repeat;
  background-color: #020617;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #eaeaea;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blurred_background {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background: #fff;
}

.btn-shadow {
  box-shadow: 0 4px 1em rgba(0, 0, 0, 0.6);
}

@layer components {
  .btn-primary {
    @apply bg-slate-600 hover:bg-slate-500 rounded-md transition-all ease-out;
  }
  .btn-secondary {
    @apply border border-slate-400 hover:border-slate-500 hover:bg-slate-500 rounded-md transition-all ease-out;
  }
  .primary-btn-border {
    @apply rounded-md flex bg-gradient-to-r from-[#272932] to-[#42444F] p-[1px]  transition  ease-in duration-300 btn-shadow;
  }
  .primary-btn-bg {
    @apply rounded-md p-4 bg-gradient-to-r from-[#42444F] to-[#16171D] ease-in transition  duration-300;
  }
}

.carousel .control-dots li {
  width: 15px !important;
  height: 15px !important;
}

.tooltip {
  cursor: pointer;
  position: relative;
}

.tooltip::after {
  content: attr(data-tip);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 0.75rem;
  border-radius: 4px;
  white-space: nowrap;
}

.theRing {
  position: absolute;
  width: 138px;
  height: 138px;
  left: calc(50% - 69px);
  top: calc(50% - 69px);
  animation: rotate infinite linear 4s;
}

.theRing::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 100%;
  top: 0;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
